/*--- Colors ---*/
$primary: #D14E42;
$happ-shade-dark: #3B3939;
$happ-shade-medium: #6F7275;
$happ-shade-light: #95989A;
$happ-shade-placeholder: #e9eaea;


/*--- Animations ---*/
// ripple 
.wave {
  background-color: $happ-shade-light;
  border-radius: 50%;
  height: 50px;
  opacity: 0.5;
  position: absolute;
  transform: scale(0);
  width: 50px;
}

.icon:active > .wave { animation: ripple-in 2s; }

@keyframes ripple-in {
  0% { transform: scale(0); }
  20%{ transform: scale(1); opacity:0.3; }
  100%{ transform: scale(1); opacity:0; }
}


/*--- Mixins ---*/
// media query
@mixin mq($size) {
  @if $size == small {
    @media (min-width: 300px) { @content; }
  }
  @else if $size == large {
    @media (min-width: 720px) { @content; }
  }
}


/*--- Placeholder ---*/
// basic card 
%card {
  border: 0;
  border-radius: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); 

  &:hover { background: #EEE; }
}

// shared card content 
%card-details {
  .card-body { 
    letter-spacing: 0.6px;
    padding: 10px; 
  }
  .card-title {    
    color: $happ-shade-dark;
    font-size: 16px;
    text-transform: capitalize;
  }
  .card-icon-row {
    align-items: flex-end;
    display: flex;
    padding: 3px 0;

    img { 
      height: 20px; 
      padding-right: 4px;
    }
  }
  .card-text { 
    color: $happ-shade-medium;
    font-size: 12px;
    font-weight: 300;
    text-transform: capitalize;
  }
  p { margin-bottom: 0; }
}


/*--- Category Header ---*/
.category-header {
  align-items: center;
  color: $happ-shade-dark;
  display: flex;
  font-size: 14px;
  font-weight: 400;
  justify-content: space-between;
  letter-spacing: 0.6px;
  padding: 20px 10px 5px 10px;

  button {
    background: transparent;
    border: 0;
    color: $primary;
    font-size: 12px;
    letter-spacing: 0.6px;

    &:hover { background: #EEE; }
  }
}