<!-- Header and See All -->
<div class="category-header">
  <span>Search By Time</span>
</div>

<!-- List Of Large Time Categories -->
<div class="category-wrap">
  <div class="category-title">This Month</div>
  <div class="category-preview">
    <img src="assets/images/flyer_2.jpg">
    <img src="assets/images/flyer_3.jpg">
    <img src="assets/images/flyer_4.jpg">
  </div>
</div>

<div class="category-wrap">
  <div class="category-title">Next Month</div>
  <div class="category-preview">
    <img src="assets/images/flyer_5.jpg">
    <img src="assets/images/flyer_6.jpg">
    <img src="assets/images/flyer_7.jpg">
  </div>
</div>

<div class="category-wrap">
  <div class="category-title">Beyond</div>
  <div class="category-preview">
    <img src="assets/images/flyer_8.jpg">
    <img src="assets/images/flyer_9.png">
    <img src="assets/images/flyer_10.jpg">
  </div>
</div>