@import "../../styles";

.category-wrap {
  align-items: center;
  border-bottom: 1px solid $happ-shade-placeholder;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 300px;
  width: 100%;

  &:hover { 
    background: #EEE; 
    color: $happ-shade-dark;
  }
}

.category-title {
  color: $happ-shade-medium;
  letter-spacing: 0.5px;
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
}

.category-preview {
  display: flex;
}

img {
  background: $happ-shade-placeholder;
  height: 50px;
  margin: 7px 3px;
  object-fit: cover;
  width: 50px;
}